<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div>
<br>
<div class="form-group">
    <label for="categories">Categories</label>
    <input required value="<%= article.categories %>" type="text" name="categories" id="categories" class="form-control">
</div>
<br>
<div class="form-group">
    <label for="description">Content</label>
    <textarea required name="description" id="description" class="form-control"><%- article.description %></textarea>
</div>
<br>
<br>
<button type="submit" class="btn btn-outline-primary" style="margin-right: 10px">Save</button>
<a href="/" class="btn btn-outline-secondary">Cancel</a>